<div class="page">

      <div class="language-switcher">
          <button mat-button [matMenuTriggerFor]="menu">
            {{siteLanguage}}
              <mat-icon>arrow_drop_down</mat-icon>
          </button>
          <mat-menu  #menu="matMenu">
              <a mat-menu-item href="/en">en</a>
              <a mat-menu-item href="/it">it</a>
          </mat-menu>
        </div>


  <div class="content">
    <h2 i18n>Angular Internationalization</h2>

    <p i18n>
      Internationalization, sometimes referenced as i18n, is the process of
      designing and preparing your project for use in different locales around
      the world. Localization is the process of building versions of your
      project for different locales. The localization process includes the
      following actions. Extract text for translation into different languages
      Format data for a specific locale A locale identifies a region in which
      people speak a particular language or language variant. Possible regions
      includes countries and geographical regions. A locale determines the
      formatting and parsing of the following details. Measurement units
      including date and time, numbers, and currencies Translated names
      including time zones, languages, and countries
    </p>
  </div>
</div>
